In [1]:
from IPython.display import IFrame

# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백을 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [2]:
greeting = 'hi Everone, I\'m ssafy'
new_greeting = greeting.capitalize()
print(new_greeting)

Hi everone, i'm ssafy

In [3]:
greeting.title()

"Hi Everone, I'M Ssafy"

In [4]:
greeting.upper()

"HI EVERONE, I'M SSAFY"

In [5]:
greeting#원본에 변화를 주는 메서드가 아니다.

"hi Everone, I'm ssafy"

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대<->소문자로 변경하여 반환합니다.

### `.join(iterable)`

특정한 문자열로 만들어 반환합니다.

In [6]:
a = '아파요'
'!'.join(a)#원본에 변화를 주진 않는다.
a

'아파요'

In [7]:
feeling = ['아파요','어려워요','힘들어요','죽겠다']
'으악!'.join(feeling)

'아파요으악!어려워요으악!힘들어요으악!죽겠다'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [8]:
'갑분싸'.replace('싸', 'ssa')
#'aa너무 즐거워요aa'.replace('a', 'ㅠ')

'갑분ssa'

In [9]:
'     recursive'.strip()
# '      recursive\n\t'.lstrip()
# #  '      recursive\n\t'.rstrip()

'recursive'

In [10]:
'hihihi'

'hihihi'

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 뜹니다.

In [11]:
'apple'.find('p')

1

In [12]:
'apple'.find('f')

-1

In [13]:
'apple'.index('p')

1

In [14]:
'apple'.index('f')

ValueError: substring not found

### 다양한 확인 메소드 : 참/거짓 반환
```
.isaplha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .issuper(), .istitle(), .islower()
```

In [ ]:
'123'.isdigit()

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [ ]:
'a_b_cd'.split('_')

In [ ]:
'12',1

In [ ]:
data =input()
input_data = data.split()
print(input_data)

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [16]:
caffes = ['starbucks', 'tomtom', 'coffebean', 'hollys']

In [ ]:
caffes.append('ediya')#리턴 값이 없다.원본을 변화시킨다.

In [ ]:
caffes

### `.extend(iterable)`

리스트에 iterable(list, range, tuple, string*유의*) 값을 붙일 수가 있습니다.

In [ ]:
caffes.extend([1,2])
caffes

In [ ]:
caffes += 1,2
caffes

In [ ]:
caffes.extend('happyhacking')
caffes

In [17]:
a = input()
caffes+=a
print(caffes)

121212
['starbucks', 'tomtom', 'coffebean', 'hollys', '1', '2', '1', '2', '1', '2']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [18]:
fast_foods = ['mc','bg','mt','kfc']

In [ ]:
fast_foods.insert(0, 'Moms Touch')#맨앞의 맘스터치
fast_foods.insert(3, 'Lotteria')#버거킹/ kfc사이에 롯데리아

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [43]:
a=[1,1,2,3,4]

a

[1, 1, 2, 3, 4]

In [45]:
a.remove(1)#sort류다
print(a)

[2, 3, 4]

In [46]:
a[1]

3

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [39]:
a.pop(1)#sort 류다

IndexError: pop index out of range

## 탐색 및 정렬

### `.index(x)`

원하는 값을 찾아 index 값을 반환합니다.

In [97]:
# 원본값을 변환하지 않나느다  없으면 반환하지 못한다.
a = [2,3]
a.index()

TypeError: index() takes at least 1 argument (0 given)

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [51]:
alpha = ['a','b','c','d','e']
alpha.count('b')

1

In [53]:
target = 'b'
for i in range(alpha.count(target)):
    alpha.remove(target)
target in alpha

False

In [54]:
def rmlist(l, target):
    for i in range(l.count(target)):
        l.remove(target)
    return l
rmlist([1,2,3,4,1,2,1,1,1,1,1,],1)

[2, 3, 4, 2]

### `.sort()`

정렬을 합니다. 

sorted()와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [55]:
#sorted
my_list = [4,3,2,1]
sorted_list = sorted(my_list)
print(my_list, sorted_list)

[4, 3, 2, 1] [1, 2, 3, 4]

In [57]:
#sort()
mylist=[4,3,2,1]
sorted_list = mylist.sort()
print(mylist,sorted_list)

[1, 2, 3, 4] None

In [59]:
class_mates = ['이원진','지상현','조성규']
r_clas_mates = class_mates.reverse()
print(class_mates, r_clas_mates)

['조성규', '지상현', '이원진'] None

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

## 복사

In [61]:
# 리스트 복사를 해봅시다.
list_a = [1,2,3]
list_copy = list_a
print(list_copy)

origin = 'A'
copy = origin
print(origin, copy)

[1, 2, 3]
A A

In [63]:
# 리스트 복사를 해봅시다.
origin = ['A']
copy = origin
origin +=['B']
print(origin, copy)

['A', 'B'] ['A', 'B']

In [64]:
print(origin == copy)
print(id(origin) == id(copy))

True
True

In [67]:
# b의 값을 바꾸고 a를 출력해봅시다.
list((1,2,3))

[1, 2, 3]

In [ ]:
# 실제로 같은지 확인해봅시다.

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
# 딕셔너리도 확인해봅시다.

In [68]:
IFrame('https://goo.gl/vx1yGx', width='100%', height='300px')

In [69]:
IFrame('https://goo.gl/N43pw6', width='100%', height='300px')

In [73]:
list({1,2,3,2,4})

[1, 2, 3, 4]

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.


* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [76]:
# 복사 예시
a = [1,2,3]
b = a[:]# 슬라이싱하면된다.
c = [1,2,3][:]
a[0] = 5
print(a, b)

[5, 2, 3] [1, 2, 3]

In [77]:
# 복사 예시2
a = [1,2,3]
b = list(a)
a[0] = 5
print(a, b)

[5, 2, 3] [1, 2, 3]

In [78]:
IFrame('https://goo.gl/ZH6yZd', width='100%', height='300px')

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 얕은 복사(shallow copy)입니다.

In [98]:
# 얕은 복사 예시
ss3 = {
    'teacher' : 'neo',
    'gamtoo' : {
        'leader' : 'Hwang',
        'CA' : 'Kang'
    }
}

new_ss3 = dict(ss3)
ss3['gamtoo']['CA'] = 'kangjw'
print(ss3)
print(new_ss3)

{'teacher': 'neo', 'gamtoo': {'leader': 'Hwang', 'CA': 'kangjw'}}
{'teacher': 'neo', 'gamtoo': {'leader': 'Hwang', 'CA': 'kangjw'}}

In [79]:
IFrame('https://goo.gl/FZcYbJ', width='100%', height='300px')

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [100]:
# 깊은 복사 예시
## 진짜 진짜 복사다.
import copy
ss3 = {
    'teacher' : 'neo',
    'gamtoo' : {
        'leader' : 'Hwang',
        'CA' : 'Kang'
    }
}
#deep copy
new_ss3 = copy.deepcopy(ss3)
new_ss4 = new_ss3
new_ss4['gamtoo']['CA'] = 'aka jinwoo'
ss3['gamtoo']['CA'] = 'kangjw'
print(ss3)
print(new_ss3)

{'teacher': 'neo', 'gamtoo': {'leader': 'Hwang', 'CA': 'kangjw'}}
{'teacher': 'neo', 'gamtoo': {'leader': 'Hwang', 'CA': 'aka jinwoo'}}

In [ ]:
IFrame('https://goo.gl/dtnCzY', width='100%', height='300px')

## 삭제 `clear()`

리스트의 모든 항목을 삭제합니다.

In [105]:
numbers = list(range(1,101))
print (numbers)
c = numbers
numbers.clear()
print (c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

## 사전 준비

> 다음의 리스트를 만들어보세요. 

1. 1~10까지의 숫자 중 짝수만 담긴 리스트 `even_list`

2. 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [109]:

even_list = []
even_list2 = [x*2 for x in range(1,6)]
for i in range(1,11):
    if not i%2:
        even_list.append(i)

print(even_list) #[2,4,6,8,10]

[2, 4, 6, 8, 10]

In [111]:
cubic_list = [x**3 for x in range(1,11)]
print(cubic_list) #[1,8,27,64,125,216,343]

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

## 활용법

여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

## 연습 문제

### 짝짓기 - 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [115]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [130]:
a=[]
for i in girls:
    for j in boys:
        a+=[(i,j)]
a

[('jane', 'justin'),
 ('jane', 'david'),
 ('jane', 'kim'),
 ('iu', 'justin'),
 ('iu', 'david'),
 ('iu', 'kim'),
 ('mary', 'justin'),
 ('mary', 'david'),
 ('mary', 'kim')]

In [127]:
pairs =[(i,j) for i in boys for j in girls]
pairs

[('justin', 'jane'),
 ('justin', 'iu'),
 ('justin', 'mary'),
 ('david', 'jane'),
 ('david', 'iu'),
 ('david', 'mary'),
 ('kim', 'jane'),
 ('kim', 'iu'),
 ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [140]:
# LOOPING
a = []
for x in range(1,50):
    for y in range(x,50):
        for z in range(y,50):
            if x**2+y**2==z**2:
                a.append((x,y,z))
#LC
print(a)
[(x,y,z) for x in range(1,50) for y in range(1,50) for z in range(1,50) if x**2+y**2==z**2 if x<y and y<z]

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

[(3, 4, 5),
 (5, 12, 13),
 (6, 8, 10),
 (7, 24, 25),
 (8, 15, 17),
 (9, 12, 15),
 (9, 40, 41),
 (10, 24, 26),
 (12, 16, 20),
 (12, 35, 37),
 (15, 20, 25),
 (15, 36, 39),
 (16, 30, 34),
 (18, 24, 30),
 (20, 21, 29),
 (21, 28, 35),
 (24, 32, 40),
 (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [144]:
words = 'Life is to short, you need python'
vowels = 'aeiouAEIOU'
result = [x for x in words if x not in vowels]
print(''.join(result))

Lf s t shrt, y nd pythn

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [145]:
fruits = {'apple': '사과', 'banana': '바나나'}

In [149]:
fruits.pop('apple', False)

False

In [147]:
print(fruits)

{'banana': '바나나'}

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [271]:
fruits = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
b = fruits.update(banana='버내너')

In [166]:
fruits

{'apple': '사과', 'banana2': '버내너', 'melon': '멜론'}

In [157]:
fruits

{'apple': '사과', 'banana': '버내너', 'melon': '멜론'}

In [158]:
b

[1, 2, 3]

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [159]:
fruits.get('pineapple')# 없는 키를 넣으면, none을 줍니다.

In [160]:
fruits.get('apple')

'사과'

In [161]:
fruits.get('strawberry',False)

False

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다. 

* 추후에 zip, map 등을 배우고 다시 다루도록 하겠습니다 :)

In [236]:
cubic_dict = {x: x ** 3 for x in range(1,10)}
print(cubic_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [239]:
# 아래에서 미세먼지 농도가 80초과인 지역만 뽑!
dust = {
    'seoul' : 103,
    'kyungi' : 79,
    'dajeon' : 36,
    'beijing' : 500
}
{}
bad_dusts = {key:value for key,value in dust.items() if value>80}
print (bad_dusts)

{'seoul': 103, 'beijing': 500}

In [241]:
#80 초과이면, key는 key value 나쁨 |안나쁨
how_bad = {key: '나쁨' if value>80 else '안나쁨' for key,value in dust.items()}
print(how_bad)

{'seoul': '나쁨', 'kyungi': '안나쁨', 'dajeon': '안나쁨', 'beijing': '나쁨'}

## set 메서드 활용

### 추가 및 삭제

## `.add(elemet)`
`엘레멘트`를 추가합니다.

In [167]:
a = {1,2,3,4}
a.add(5)
a

{1, 2, 3, 4, 5}

### `.update(*others)` 
여러가지(others)값을 순차적으로 추가합니다.

반드시 iterable 한 값을 넣어야 합니다.

In [169]:
a = {1, 2, 3 }
a.update({5,5,5,2},{7,9,10,7})
a

{1, 2, 3, 5, 7, 9, 10}

### `.remove(element)`
`element`를 set 에서 삭제하고, 없으면 Error 를 발생시킵니다.

In [171]:
a.remove(11)#원본을 파괴하는 스타일

KeyError: 11

In [172]:
a.remove(1)

In [173]:
a

{2, 3, 5, 7, 9, 10}

### `.discard(element)`

`elemet`를 삭제하나, 에러가 발생하지 않습니다.

In [175]:
b= {1,2,3}
b.discard(5)
print(b)

{1, 2, 3}

### `.pop()`

set을 순서대로 정렬하고 에서 가장 작은 원소를 제거하고 반환합니다.

In [234]:
c = {'ㅁㅁ',1,6,'ㅇㅇㅇ',2,'하족',3,4,5,'아이작'}

In [235]:
c.pop()
print(c)
print(list(c))

{2, 3, 4, 5, 6, '아이작', 'ㅁㅁ', '하족', 'ㅇㅇㅇ'}
[2, 3, 4, 5, 6, '아이작', 'ㅁㅁ', '하족', 'ㅇㅇㅇ']

## 정리!! `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* iterable 의 원소들을 function을 적용한 후, 그 결과를 돌려줍니다.
* 대표적으로 
    * list
    * dict
    * set
    * str
    * tuple
    * range
    * bytes
* `.map()` 의 return은 map object 형태로 나온다.

In [246]:
my_input = input('입력 ㄱㄱ')
#숫자를 띄어쓰기로 입력받을 때, 각각을 리스트에 숫자로 저장.
l = my_input.split()
result = [int(s) for s in l]
print (my_input)
print (result)

입력 ㄱㄱ1 2 3
1 2 3
[1, 2, 3]

In [258]:
l = input('띄어쓰기로 숫자 입력:')

r = list(map(int, l.split()))
print(r)

띄어쓰기로 숫자 입력:1 2 3
[1, 2, 3]

In [253]:
import math
math.sqrt(3)

1.7320508075688772

In [255]:
def cube(n):
    return n**3
cube(3)

27

In [256]:
n = [1, 2, 3]
cubic_n = list(map(cube, n))
print(cubic_n)

[1, 8, 27]

In [263]:
num = [1,2,3,4]
r = ''.join(map(str ,num))
k = list(map(str ,num))
print(r)
print(k)

1234
['1', '2', '3', '4']

In [ ]:
### clone이나해라 이말이야